{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Contact Details</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>Address Line1</th>
                <td>{{ entity.addressline1 }}</td>
            </tr>
            <tr>
                <th>Address Line2</th>
                <td>{{ entity.addressline2 }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ entity.postcode }}</td>
            </tr>
            <tr>
                <th>Telephone Home</th>
                <td>{{ entity.telephonehome }}</td>
            </tr>
            <tr>
                <th>Telephone Mobile</th>
                <td>{{ entity.telephonemobile }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">

        <a href="{{ path('contact') }}">
            Back to the list
        </a>


        <a href="{{ path('contact_edit', { 'id': entity.id }) }}">
            Edit
        </a>

   {{ form(delete_form) }}

{% endblock %}
